#all {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
span {
    display: flex;
}
i {
    margin: auto 5px auto 5px;
}
i:hover {
    cursor: pointer;
}
div>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
mat-divider {
    width: 100%;
}